

/* some colors for title slides */
.reveal .white > h1,
.reveal .white > h2 { color: white; }
.reveal .black > h1,
.reveal .black > h2 { color: black; }
.reveal .gray10 > h1,
.reveal .gray10 > h2 { color: #1A1A1A;}
.reveal .gray20 > h1,
.reveal .gray20 > h2 { color: #333333;}
.reveal .blued > h1,
.reveal .blued > h2 { color: #13103e; }

.reveal .left  > h1,
.reveal .left  > h2 { text-align: left; }
.reveal .right > h1,
.reveal .right > h2 { text-align: right; }


/* Styles for titles */
.reveal h3, .reveal h4, .reveal h5, .reveal h6 {
  color: #qqqqq;
  font-family: "Alegreya Sans SC", sans-serif;
  word-spacing: 0.2em;
  font-weight: 500;
  letter-spacing: 0.0em;
}

.reveal h2 { padding-bottom: 0.55em; }


.reveal code- {}



.reveal section li:before {
  content: "\f101"; /* FontAwesome Unicode */
  font-family: FontAwesome;
  display: inline-block;
  margin-left: -1.5em; /* same as padding-left set on li */
  width: 1.5em; /* same as padding-left set on li */
}
/* nested lists */
.reveal section ul li ul {padding-top: 0em; padding-bottom: 0em;}

